.container {
  width: 750px; /*tasarim icin belirlenen alan */
  margin: 0 auto; /* width yüzünden en soldan baslanan tasarimi ortaladik */
}

.nav a {
  background-color: "#ff764e";
  text-decoration: none;
  color: white;
}

.nav a:first-child {
  background-color: "#5ed3eb";
}

.nav a:last-child {
  background-color: "#ffcd69";
}
