.container {
  width: 750px; /*tasarim icin belirlenen alan */
  margin: 0 auto; /* width yüzünden en soldan baslanan tasarimi ortaladik */
}

nav a {
  background-color: #ff764e;
  text-decoration: none;
  color: white;
  padding: 15px 13px;
  border-radius: 5px;
  display: inline-block; /* a taglerini block olarak ayarladık */
  margin: 0 65px;
  width: 90px;
  text-align: center;
  vertical-align: middle;
}

nav a:first-child {
  background-color: #5ed3eb;
  margin-left: 20px;
  margin-right: 106px;
  padding: 8px 13px;
}

nav a:last-child {
  background-color: #ffcd69;
  margin-right: 20px;
  margin-left: 106px;
}

main {
  padding-top: 50px;
}

img {
  width: 25%;
  height: 180px;
  display: inline-block;
  border-radius: 100%;
  vertical-align: top;
}

main div {
  display: inline-block;
  width: 73%;
  text-align: center;
  vertical-align: top;
}

h1 {
  margin-top: 0;
}

.background_kahve {
  background-color: #ddb9a3;
  padding: 10px;
  color: white;
  margin-top: 20px;
}

.background_kahve p {
  margin: 0;
  text-align: center;
}
